<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Comfortaa:100,300,400">
    <link rel="stylesheet" href="fonts/Equinox.woff"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Title</title>
</head>

<body>

<!-- navbar -->

<nav class="navbar navbar-expand-sm fixed-top ">
    <a class="navbar-brand" href="#">QUEST STORE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
        <li class="nav-item">
            <a class="nav-link " data-value="Shop" href="mentor_students.twig">Students</a></li>
        <li class="nav-item">
            <a class="nav-link " data-value="Shop" href="mentor_shop.html">Shop</a></li>
        <li class="nav-item">
            <a class="nav-link " data-value="Whipe-round" href="mentor_quests.html">Quests</a></li>
        <li class="nav-item">
            <a class="nav-link " data-value="Sign-out" href="index.twig">Sign-out</a></li>
    </ul>
    </div>
</nav>
<header class="header">
    <div class="container">
        <h2 class="title">BASIC QUESTS</h2>
        <div class="row">


            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    <input type="email" class="form-control" id="email" placeholder=" Enter type">
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered"><input type="email" class="form-control" id="email" placeholder="Enter title"></h5>
                    <p class="card-text"><textarea name="message" rows="1" cols="32" placeholder="Enter description" ></textarea></p>
                    <p class="card-text"><input type="email" class="form-control" id="email" placeholder="Enter price"></textarea></p>

                    <a href="#" class="btn btn-primary"> ADD </a>

                </div>
            </div>

            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Basic Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Exploring a dungeon</h5>
                    <p class="card-text">Finishing a Teamwork week </p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 1</i> BUY</a>
                </div>
            </div>


            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Basic Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Solving a magic puzzle</h5>
                    <p class="card-text">Finishing an SI assigment</p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <<a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 1</i> BUY</a>
                </div>
            </div>

            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Basic Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Slaying a dragon</h5>
                    <p class="card-text">Passing a checkpoint</p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 5</i> BUY</a>
                </div>
            </div>
            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Basic Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Spot trap</h5>
                    <p class="card-text">Spot a major mistake in the assigment</p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 5</i> BUY</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="title">EXTRA QUESTS</h2>
        <div class="row">
            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Extra Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Forging weapons</h5>
                    <p class="card-text">Organizing a workshop for other students </p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 4</i> BUY</a>
                </div>
            </div>

            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Extra Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Creating an enchanted scroll</h5>
                    <p class="card-text">Creating extra material for the current TW/SI topic (should be revised by mentors)</p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 5</i> BUY</a>
                </div>
            </div>

            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Extra Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Enter the arena </h5>
                    <p class="card-text">Some Do a presentation on a meet-up</p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 5</i> BUY</a>
                </div>
            </div>


            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Extra Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Master the mornings</h5>
                    <p class="card-text">Attend 1 months without being late </p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 3</i> BUY</a>
                </div>
            </div>
            <div class="card col-md-3 card-style" >
                <div class="card-header">
                    Esxtra Quest
                </div>
                <img class="card-img-top" src="https://via.placeholder.com/130x125" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title card-title-centered">Fast as unicorn</h5>
                    <p class="card-text">deliver 4 consecutive SI week assignments on time</p>
                    <a href="#" class="btn btn-primary"> EDIT </a>
                    <a href="#" class="btn btn-primary"><i style="font-size:12px" class="fa">&#xf0d6; 5</i> BUY</a>
                </div>
            </div>

        </div>

    </div>
</header>

<footer class="footer">
    <nav class="navbar navbar-expand-sm">
        <p> number: 123456789 <br> email: example@example.com</p>
    </nav>
</footer>

<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src='../static/js/Main.js'></script>
</body>
</html>